{% extends "base.html" %}
{% load static %}

{% block content%}
<form action="" method="post">
    {% csrf_token %}
    <h5>Add a money account</h5>
    <div>
        {% for field in form.visible_fields %}
        <div class="form-group{%if field.errors %} invalid{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}